{% extends "theblog/layout.html"%}

{% load static %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<h1> User Profile </h1>
<br />
<div class="card mb-3">
 <div class="row g-0">
  <div class="col-md-2">

   {% if page_user.profile_pic %}

   <img src="{{ page_user.profile_pic.url }}" width="150" height="200" class="img-thumbnail">

   {% else %}
   <img src="{% static '/theblog/images/user.jpg' %}" width="150" height="200">
   {% endif %}

  </div>
  <div class="col-md-10">
   <div class="card-body">
    <h5 class="card-title">

     {{ page_user.user.first_name }}
     {{ page_user.user.last_name  }}

    </h5>
    {% if page_user.website_url %}
    <a class="small text-muted" href="{{ page_user.website_url }}"> Website </a>
    {% endif %}

    {% if page_user.facebook_url %}
    | <a class="small text-muted" href="{{ page_user.facebook_url }}"> Facebook </a>
    {% endif %}

    {% if page_user.instagram_url %}
    | <a class="small text-muted" href="{{ page_user.instagram_url }}"> Instagram </a>
    {% endif %}

    {% if page_user.github_url %}
    | <a class="small text-muted" href="{{ page_user.github_url }}"> Github </a>
    {% endif %}
    </p>

    <p class="card-text">{{ page_user.bio }}</p>
   </div>
  </div>
 </div>
</div>




{% endblock %}