body {
  margin: 10px;
  background: #000;
}
.main-bar{
color: rgb(0,  28.2, 87.8);
font-size: large;
}
      
.navbar-nav > a{
font-size: 20px;
padding: 0;
} 
      
.top{
  background-color: #D1F2EB;
  margin-left: -30px;
}

.info{
  display: flex;
  margin: 0;
}

img{
  padding-top: 8px;
  
}

h3{
  padding-top: 3px;
  margin-left: -10px;
}

.form-select{
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

.badges{
  align-items: left;
  align-content: left;
}

/*
.btn-primary{
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #D1F2EB !important;
  border-style: hidden !important;
}
*/


.btn-success{
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-style: hidden !important;
  background-color: #5DADE2 !important;
}


.info-box{
  align-items: left;
  align-content: left;
}

.word{
  text-align: right;
  padding-right: -70px;
}

.item{
  margin-left: -15px;
  padding-top: 5px;
}
 .btn{
  border-style: hidden !important;
  background-color: #5DADE2 !important;
}

.bot{
  margin: 0;
  padding-left: 1500px;
}