{% extends "auctions/layout.html" %}

{% block title %}
{{post.title}}
{% endblock %}


{% block body %}


<div class="card-deck mb-3 text-center my-5">
  <h2 class="text text-muted"> Item Detail </h2>
  <br />

  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{ item.title }}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">${{ item.bid_price }} <small class="text-muted">/
          {{ item.category}}</small>
      </h1>
      <ul class="list-unstyled mt-3 mb-4">
        <strong><small>Description:</small></strong>
        <li>{{ item.description }}</li>
      </ul>

      <form action="{% url 'auctions:bid' item.id %}" method="post">
        {% csrf_token %}
        <input type="number" name="new_bid" value="{{item.bid_price}}">
      </form>
      <a href="{% url 'auctions:item_info' item.id %}">
        <button type="submit" class="btn btn-sm btn-block btn-outline-primary my-2">Place your Bid</button>
      </a>

    </div>

  </div>
  <small class="text"> By: {{ item.person.first_name }} {{ item.person.last_name }}</small>
</div>



{% endblock %}