{% extends "auctions/layout.html" %}

{% block title %}
View
{% endblock %}

{% block body %}
<div class="container">
 <h1><strong>Title:</strong> {{ item.title }}</h1>
 <h1><strong>Description:</strong> {{ item.description }}</h1>
 <h1><strong>Amount:</strong> $ {{ item.startbidprice }}</h1>
 <h1><strong>Category:</strong> {{ item.category}}</h1>
 <h1><strong>Quantity:</strong> {{ item.quantity }}</h1>

 <a href="{% url 'comment' item.id %}" class="btn btn-secondary my-2 col-md-2">Comment</a>
 <a href="{% url 'bid' item.id %}" class="btn btn-secondary my-2 col-md-2">Place Bid</a>
</div>
{% endblock %}