body {
 font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 height: auto;
 color: #212529;
 background-color: #fff;
 -webkit-text-size-adjust: 100%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 margin: 0;
 border-width: 0;
}

.container-fluid {
 margin: 0px;
}


.container {
 top: 80px;
 width: 600px;
 align-items: center;
 padding: 3px;
 display: inline-flex;
 align-self: center;
 position: relative;
 display: block;
 align-items: center;
 text-align: center;
}

.title-search {
 padding-bottom: 0px;
 border-style: hidden;
}

.input-search {
 padding-bottom: 15px;
}

.justify-content-lg-center {
 padding-bottom: 0px;
}

.dutch {
 padding-bottom: 480px;
}

.form-control {
 padding-left: 40px;
 width: 595px;
 border-radius: 20px;
 font-size: 19px;
}

.icon {
 position: absolute;
 left: 17px;
 bottom: 27px;
}

.btn-light {
 font-size: 14px;
}

.footer-1 {
 padding: 5px 20px;
 border-bottom: 1px solid #dadce0;
 font-size: 15px;
 color: rgba(0, 0, 0, .54);
}

.footer-2 {
 height: 2.6vh;
 border-width: 5px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.foot-all {
 padding: 2px 0px;
 margin: 0;
}

.footer-1,
.footer-2 span {
 font-size: 14px;
 color: gray;
 padding-left: 25px;
 padding-bottom: -30px;
}

.footer-2 a {
 color: aqua;
}

.footer-2 span {
 margin-top: 0px;
 font-size: 14px;
 color: rgba(0, 0, 0, .54);
 padding: 0px 10px;
}

.dutch {
 margin-bottom: 4%;
}

.camera {
 position: absolute;
 right: 20px;
 bottom: 23.5px;
 width: 25px;
 height: 25px;
}

.camera:hover {}

.thumbnail {
 width: 20px;
 height: 20px;
 margin-right: 10px;
}

.login {
 padding: 1px 12px 1px 12px;
 border-radius: 2px;
 opacity: 0.9;
 font-size: 14px;
 font-weight: bold;
}

.top {
 font-size: 14px;
}