body {
 padding: 0px;
}

.jumbotron {
 padding-top: 1rem;
 padding-bottom: 1rem;
 margin-bottom: 0;
 background-color: #fff;
}

@media (min-width: 768px) {
 .jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
 }
}

.jumbotron p:last-child {
 margin-bottom: 0;
}

.jumbotron h1 {
 font-weight: 300;
}

.jumbotron .container {
 max-width: 40rem;
}

.main {
 display: block;
}

footer {
 padding-top: 3rem;
 padding-bottom: 3rem;
}

footer p {
 margin-bottom: .25rem;
}

.navbar-toggler {
 margin-right: 0px;
}

.bid-btn {
 border-radius: 10px;
}