{% extends "theblog/layout.html"%}

{% load static %}

{% block title %}
{{ post.title_tag }}
{% endblock %}


{% block body %}
{% if user.is_authenticated %}

<h1>{{ post.title }}</h1>

<small>By: {{post.author.first_name }} {{ post.author.last_name }} -
 {{ post.post_date}}
 {% if user.is_authenticated %}
 {% if user.id == post.author.id %}
 <a href="{% url 'update_post' post.pk %}">Edit</a>
</small> <small><a href="{% url 'delete_post' post.pk %}">Delete</a>
</small><br />
{% endif %}
{% endif %}
<hr />
{% if post.header_image%}

<img src="{{ post.header_image.url }}"><br>
<hr>
{% endif %}
<p> {{ post.body|safe }} </p>

<hr>
<br />

<form action="{% url 'like_post' post.id %}" method="post">
 {% csrf_token %}
 {% if user.is_authenticated %}
 {% if liked %}
 <button class="btn btn-danger btn-sm" type="submit" name="post_id" value="{{ post.id }}">Unlike</button>
 {% else %}
 <button class="btn btn-primary btn-sm" type="submit" name="post_id" value="{{ post.id }}">Like</button>
 {% endif %}
 {{total_likes}} Likes
 {% endif %}
 <br>
</form>
<br />

<div class="card mb-3">
 <div class="row g-0">
  <div class="col-md-2">
   {% if post.author.profile.profile_pic %}
   <img src="{{ post.author.profile.profile_pic.url }}" width="150" height="200">

   {% else %}
   <img src="{% static '/theblog/images/user.jpg' %}" width="150" height="200">
   {% endif %}

  </div>
  <div class="col-md-10">
   <div class="card-body">
    <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name  }}</h5>

    <p class="small text-muted">
     <a href="{%url 'show_profile' post.author.id %}"> Profile page </a> |
     {% if post.author.profile.website_url %}
     <a class="small text-muted" href="{{ post.author.profile.website_url }}"> Website </a>
     {% endif %}

     {% if post.author.profile.facebook_url %}
     | <a class="small text-muted" href="{{ post.author.profile.facebook_url }}"> Facebook </a>
     {% endif %}

     {% if post.author.profile.Instagram_url %}
     | <a class="small text-muted" href="{{ post.author.profile.instagram_url }}"> Instagram </a>
     {% endif %}

     {% if post.author.profile.github_url %}
     | <a class="small text-muted" href="{{ post.author.profile.github_url }}"> Github </a>
     {% endif %}
    </p>

    <p class="card-text">{{ post.author.profile.bio }}</p>
   </div>
  </div>
 </div>
</div>




{% else %}
<p>You are not logged in: <a href="{% url 'login' %}">Login Here</a> </p>

{% endif %}

<h1>Comments...</h2>



 {% if not post.comments.all %}
 <small>No comment on this post yet ...... <a href="{% url 'add_comment' post.pk %}">Add a comment</a></small>
 {% else %}
 <a href="{% url 'add_comment' post.pk %}">Add a comment</a></small>
 <br /><br />
 {% for comment in post.comments.all %}

 <small><strong>
   {{ comment.name }}
   {{ comment.date_added }}
  </strong></small>
 <p>{{ comment.body }}</p>


 {% endfor %}

 {% endif %}
 <br />
 <a href="{% url 'add_comment' post.pk %}">Add a comment</a></small>
 <br /><br />
 <br /><br />

 {% endblock %}