{% extends "theblog/layout.html"%}

{% block title %}
Categories
{% endblock %}

{% block body %}

{% if category_post %}
<h1>{{ cats.title }}</h1>

{% for post in category_post %}
<li>
 <a href="{% url 'article_detail' post.pk %}">{{ post.title }} </a> by: {{ post.author.first_name }}
 -
 {{ post.post_date}}:
 {{ post.author.last_name }}
 {% if user.is_authenticated %}
 {% if user.id == post.author.id %}
 - <small><a href="{% url 'update_post' post.pk %}">Edit</a>
 </small> <small><a href="{% url 'delete_post' post.pk %}">Delete</a>
 </small><br />
 {% endif %}
 {% endif %}

 {{ post.body|slice:":300" }}</li>
{% endfor %}
<a href="{% url 'home' %}" class="btn btn-secondary my-sm-3">Home</a>
</ul>
{% else %}

Sorry, this Category does not exist

{% endif %}



{% endblock %}