{% extends "auctions/layout.html" %}

{% block title %}
View
{% endblock %}

{% block body %}
<div class="container">
 <h1><strong>Title:</strong> {{ item.title }}</h1>
 <h1><strong>Description:</strong> {{ item.description }}</h1>
 <h1><strong>Amount:</strong> $ {{ item.startbidprice }}</h1>
 <h1><strong>Category:</strong> {{ item.category}}</h1>
 <h1><strong>Quantity:</strong> {{ item.quantity }}</h1>

 <a href="{% url 'comment' item.id %}" class="btn btn-secondary my-2 col-md-2">Comment</a>
 <a href="{% url 'bid' item.id %}" class="btn btn-secondary my-2 col-md-2">Place Bid</a>
</div><br />
<hr>
<div class="container">
 <div class="container col-md-10">
  {% block comment %}
  <h3>Comments</h3>
  {% if not comments %}
  No Comments..
  {% else %}
  {% for com in comments %}
  <strong>
   {{ com.name }}
   {{ com.date_added }}
  </strong>
  <br>
  {{ com.comment }}
  {% endfor %}
  {% endif %}
  {% endblock %}
 </div>
</div>
{% endblock %}