{% extends 'registration/layout.html' %}

{% load static %}


{% block title %}
Register
{% endblock %}


{% block body %}
<div class="container register">
 <main class="register register-form">
  <form action="" method="post">
   {% csrf_token %}

   <div class="form-group">
    <div class="my-4">

    </div>
    <input autocomplete="off" class="form-control my-2" name="username" placeholder="Username" type="text">
   </div>
   <div class="form-group">
    <input autocomplete="off" class="form-control my-2" name="email" placeholder="Email" type="email">
   </div>
   <div class="form-group">
    <input class="form-control my-2" name="password" placeholder="Password" type="text" required>
   </div>
   <div class="form-group">
    <input class="form-control my-2" name="confirmation" placeholder="Confirm password" type="text">
   </div>
   <button class=" w-100 btn btn-primary btn-lg my-3" type="submit">Register</button>
   <hr>
   <small>
    <p>Already a member? <a href="{% url 'login' %}">Login Here </a> </p>
   </small>
  </form>
 </main>

</div>
{% endblock %}